#nav-links {
  font-size: 22px;
  padding: 20px;
  font-weight: bold;
}

#nav-links a {
  color:blue;	
}

html {
  font-size: 100%;
}

body {
  font: 100% Lucida Sans, Verdana;
  margin: 20px;
  line-height: 26px;
}

#main-d3-map-section {
  text-align: center;
}

.main-d3-updates {
  text-align: center;
  margin-bottom: 10px;
  display: block;
  max-width: 1280px;
  margin: auto;
}

.location-main-updates {
  width: 675px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.tab-container {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
}

.tab {
  overflow: hidden;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 3px;
  padding: 10px 12px;
  transition: 0.3s;
  font-size: 16px;
  border-bottom: 3px solid white;
}

.tab button:hover {
  border-bottom: 3px solid #ddd;
}

.tab button.active {
  border-bottom: 3px solid #003c71;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
}

.tabcontent2 {
  padding: 6px 12px;
}

.container-main {
    xmin-width: 900px;
}

.wrapper-main {
    position: relative;
    overflow: auto;
}

#covid-table , #vaccination-table {
  max-width: 1105px;
}

#top, #bottom, #horizMenu, .menuitem, .selectedmenuitem {
    border-radius: 4px;
    margin: 4px;
}

#top {
    background-color: #003c71;
    color: #ffffff;
    padding: 15px;
}

#menubar {
    width: 255px;
    float: left;
	margin-right: 10px;
}

#logo{
	margin: 10px;
    bottom: 0;
    top: 10px;
    right: 0;
    position: absolute;
}

#bottom {
    border: 1px solid #d4d4d4;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    font-size: 70%;
    line-height: 14px;
}

#top h1, #top p, #menulist {
    margin: 0;
    padding: 0;
}

.menuitem {
    background-color: #f1f1f1;
    border: 1px solid #d4d4d4;
    list-style-type: none;
    padding: 2px;
    cursor: pointer;
}

.selectedmenuitem {
    background-color:#003c71;
    color: white;
	font-weight:bold;
    border: 1px solid #d4d4d4;
    list-style-type: none;
    padding: 2px;
    cursor: pointer;
}

.menuitem:hover {
    background-color: #ffffff;
}

#partsdata {
	border: none;
	min-height: 540px;
	width: -webkit-calc(100% - 265px);
    width:    -moz-calc(100% - 265px);
    width:         calc(100% - 265px);
}

a {
    color: #000000;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

#horizMenu {
	margin-bottom:0px;
}

ul.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1f1f1;
}

ul.horizontal li {
  float: left;
  border-right:1px solid #d4d4d4;
}

ul.horizontal li:last-child {
  border-right: none;
}

ul.horizontal li a {
  display: block;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

ul.horizontal li a:hover:not(.active) {
  background-color: #003c71;
  color: white;
}

ul.horizontal li a.active {
  background-color: #003c71;
  color: white;
  font-weight: bold;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#loader-background {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
	z-index: 1;
    width: 100%;
    height: 100%;
    background:white;
	opacity: 0.8;
}

@media (max-width: 800px) {
    #logo {
        width: auto;
        position: relative;
    } 
    #logo, #main {
		margin-left: 0px;
		margin-right: 0px;
    }    
       
}

@media (max-width: 600px) {
    #logo, #menubar {
        width: auto;
        float: none;
		padding: 0px;
		top: 0px;
    }
	#partsdata
	{
		width: 100%;
	}
    #logo, #main, #menubar {
        margin-left: 0px;
		margin-right: 0px;
    }    
}